@media (max-width: 960px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 925px) {
    .carousel {
        padding: 81px 0;
        &__inner {
            width: 500px;
            margin: 0 auto;
            position: relative;
            .slick-list {
                .slick-track {
                    .slick-slide {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .catalog {
        &__tab {
            width: 180px;
            height: 40px;
            font-size: 14px;
            line-height: 38px;
        }
        &__content {
            margin-top: 60px;
            display: none;
            justify-content: space-evenly;
            flex-wrap: wrap;
            &:last-child {
                justify-content: space-evenly;
            }
            &_active {
                display: flex;
            }
        }
    }

    .feedback {
        &-item {
            &__text {
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: 850px) {
    .carousel {
        padding: 81px 0;
        &__inner {
            width: 450px;
            margin: 0 auto;
            position: relative;
            .slick-list {
                .slick-track {
                    .slick-slide {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 770px) {
    .carousel {
        padding: 81px 0;
        &__inner {
            width: 400px;
            margin: 0 auto;
            position: relative;
            .slick-list {
                .slick-track {
                    .slick-slide {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        i {
            width: 25px;
            height: 35px;
            font-size: 30px;
            color: $main_color;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -55px;
            cursor: pointer;
            transition: 0.3s all linear;
            &:nth-child(1) {
                left: -50px;
            }
            &:hover {
                font-size: 40px;
                top: 48.5%;
            }
        }
    }

    .feedback {
        &-item {
            &__text {
                margin-left: 10px;
                &-title {
                    font-size: 15px;
                }
                &-subtitle {
                    font-size: 11px;
                }
                &-descr {
                    font-size: 13px;
                }
            }
        }
    }
}

@media (max-width: 620px) {
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 17px;
        }
    }
    .advantage {
        &__items {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            img {
                margin-bottom: 5px;
            }
            &_header{
                margin-bottom: 10px;
            }
            &:nth-child(n+2) {
                margin-top: 25px;
            }
            &:after {
                content: '';
                display: block;
                margin-top: 5px;
                width: 100%;
                height: 1px;
                background-color: $main_color;
            }
        }
    }
    .catalog {
        &__tab {
            width: 150px;
            height: 40px;
            font-size: 12px;
            line-height: 38px;
        }
    }

    .carousel {
        padding: 81px 0;
        &__inner {
            width: 320px;
            margin: 0 auto;
            position: relative;
            .slick-list {
                .slick-track {
                    .slick-slide {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .header {
        &__logo {
            width: 140px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 14px;
        }
        .button {
            width: 125px;
            height: 25px;
            font-size: 10px;
        }
    }
    .promo {
        background: url(../../img/bg1_859.png) center center/cover no-repeat;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 70px;
        }
        &__header {
            font-size: 37px;
            margin-bottom: 15px;
        }
        &__subheader {
            font-size: 21px;
        }
        &__icons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 65px;
            width: 425px;
        }
        &__icon {
            width: 108px;
            text-align: center;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 500;
            color: #ffffff;
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }
        &__link {
            margin-top: 15px;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 500;
            color: #ffffff;
            a {
                text-transform: uppercase;
                color: #ffffff;
            }
        }
    }
    .catalog {
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            margin-bottom: 20px;
        }
    }

    .carousel {
        padding: 81px 0;
        &__inner {
            width: 290px;
            margin: 0 auto;
            position: relative;
            .slick-list {
                .slick-track {
                    .slick-slide {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 470px) {
    .header {
        &__logo {
            width: 140px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 10px;
            }
        }
        &__phone {
            font-size: 14px;
        }
        .button {
            width: 125px;
            height: 25px;
            font-size: 10px;
        }
    }
    .promo {
        background: url(../../img/bg1_859.png) center center/cover no-repeat;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 70px;
        }
        &__header {
            font-size: 30px;
            margin-bottom: 15px;
        }
        &__subheader {
            font-size: 18px;
        }
        &__icons {
            width: 380px;
        }
    }

    .carousel {
        padding: 81px 0;
        &__inner {
            width: 200px;
            margin: 0 auto;
            position: relative;
            .slick-list {
                .slick-track {
                    .slick-slide {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .feedback {
        &-item {
            flex-direction: column;
            align-items: center;
            &__text {
                margin-top: 10px;
                text-align: center;
                width: 100%;
            }
        }
    }

    .footer {
        &__info {
            width: 100%;
            height: 150px;
            background-color: $main-color;
            padding: 10px;
        }
        &__addr {
            margin-bottom: 15px;
        }
        &__social {
            &-item {
                &:nth-child(2) {
                    margin-left: 20px;
                    margin-right: 20px;
                }
                i {
                    margin-top: 15px;
                    color: white;
                    font-size: 35px;
                }
            }
    
        }
    }


}
@media (max-width: 400px) {
    .header {
        &__logo {
            width: 140px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 10px;
            }
        }
        &__phone {
            font-size: 11px;
        }
        .button {
            width: 110px;
            height: 25px;
            font-size: 8px;
        }
    }
    .promo {
        background: url(../../img/bg1_859.png) center center/cover no-repeat;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 70px;
        }
        &__header {
            font-size: 25px;
            margin-bottom: 15px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icons {
            width: 350px;
        }
    }
}